---
import "../../sass/layout/footer.scss";

const year = new Date().getFullYear();
---

<footer class="footer">
  <div class="footer__logo-box">
    <picture>
      <img class="footer__logo" srcset="/assets/logo-white.svg" alt="Full logo" />
    </picture>
  </div>
  <div class="footer__row">
    <div class="col-1">
      <div class="footer__navigation">
        <u class="footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">Company</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Contact us</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">carers</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Privacy policy</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Terms</a>
          </li>
        </u>
      </div>
    </div>
    <div class="col-2">
      <p class="footer__copyright">
        Built my <a href="#" class="footer__link">Diego Monsalve</a>for his
        online course <a href="#" class="footer__link">Advanced and Sass</a>.
        Copyright &copy; {year} by Diego Monsalve. You are 100% allowed to use this
        webpage for both personal and commercial use, but NOT to claim it as your
        own design. A credit to original author, Diego Monsalve, is of course highly
        appreciated!
      </p>
    </div>
  </div>
</footer>
