---
import "../styles/nav.css"
---
		
		<li><a href="/">Home</a></li>
		<li><a href="api-comics">Api comics</a></li>
		<li><a href="search-books">api Books</a></li>
		<li><a href="projects">Projects</a></li>
		<li><a href="contact">Contact us</a></li>
		<li><a href="about">About</a></li>
