.toggle-menu{
	cursor: pointer;
	display:block;
	color: whitesmoke; 
	font-size: 2.5rem;
	position: fixed;
	right: 1.5rem;
	top: 0.2rem;
	z-index: 1;

}
.toggle-menu:hover{
	color:  #7743DB;

}

.main-menu{
	align-items: center;
	background-color:  rgba(0, 0, 0, 0.9);
	display: flex;
	flex-direction: column;
	list-style: none;
	margin-bottom: 0;
	margin-left:0;
	margin-top: 0;
	padding: 0;
	position: fixed;
	transform: translateY(-120%);
	transition: transform 0.4s ;		
	width: 100%;
	opacity: 1;
}

.main-menu__item{
	padding: 0.8rem;
}
.main-menu__item:hover {
	background-color: #3b30af;
	border-radius: 0.7rem;
}

.main-menu__link{
	border-radius: .5rem;
	color: whitesmoke;
	font-family: Montserrat;
	text-decoration: none;
	text-transform: uppercase;
}

.main-menu__item:first-child{
	margin-top: 50px;
}

.active{
	transform: translateY(-20%);
	opacity: 1;		
}

.gris{
	background-color:#111111bd;
}

@media (min-width: 768px) {


	.main-menu__item:first-child{
		margin-top: 0;
	}


	.main-menu{
		display: flex;
		flex-direction: row;
		list-style: none;
		background-color: #7743DB;
		justify-content: flex-end;
		padding:0.7rem 1.35rem;
		position: relative;
		transform: translate(0);
		width: 96%;
	}
	
	.toggle-menu{
		display: none;
	}

	.main-menu__item:hover {
		background-color: #3b30af;
		border-radius: 0.7rem;
	}

	.gris{
		background-color: #3b3486;
	}
}