---

import "./nav.css"

---
<astro-menu>
	<div class="toggle-menu" id="toggle-menu">
		<i class="fa-solid fa-bars" id="icon-menu" ></i>
	</div>
	
	<ul class="main-menu" id="main-menu">
		<li class="main-menu__item">
			<a class="main-menu__link" href="/">Home</a>
		</li>

		<li class="main-menu__item">
			<a class="main-menu__link" href="apiComics">Api comics</a>
		</li>

		<li class="main-menu__item">
			<a class="main-menu__link" href="apiBooks">api Books</a>
		</li>

		<li class="main-menu__item">
			<a class="main-menu__link" href="projects">Projects</a>
		</li>

		<li class="main-menu__item">
			<a class="main-menu__link" href="contact">Contact us</a>
		</li>

		<li class="main-menu__item">
			<a class="main-menu__link" href="about">About</a>
		</li>
	</ul>

</astro-menu>

<script is:inline >
	class AstroMenu extends HTMLElement {
		constructor(){
			super();

			const body = document.querySelector('body');

			const menu = this.querySelector('#toggle-menu');
			const menuItems = this.querySelector('#main-menu');

			menu.addEventListener('click', (e)=>{

				if(e.target.id === 'icon-menu'){
					menuItems.classList.toggle('active')				
					body.classList.toggle('gris')
				}				
			});

			body.addEventListener('click',(e)=>{

				if(e.target.id !== 'icon-menu' && e.target.id !== 'main-menu'){
					body.classList.remove('gris')
					menuItems.classList.remove('active')
				}
				
			})

		}
	}

	customElements.define('astro-menu', AstroMenu)
</script>
