---

import "./nav.css"

---
<astro-menu>
	<div class="menu" id="menu">
		<i class="fa-solid fa-bars"></i>
	</div>
	<div class="menu-items" id="menu-items">			
		<li><a href="/">Home</a></li>
		<li><a href="apiComics">Api comics</a></li>
		<li><a href="apiBooks">api Books</a></li>
		<li><a href="projects">Projects</a></li>
		<li><a href="contact">Contact us</a></li>
		<li><a href="about">About</a></li>
	</div>
</astro-menu>

<script is:inline >
	class AstroMenu extends HTMLElement {
		constructor(){
			super();

			const menu = this.querySelector('#menu')
			const menuItems = this.querySelector('#menu-items')

			menu.addEventListener('click', ()=>{
				menuItems.classList.toggle('active')
				//menu.classList.toggle('rotation')
			})

		}
	}

	customElements.define('astro-menu', AstroMenu)
</script>
