@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.about {
	align-items: center;
	background: v.$color-grey-light-3;
	display: flex;
	flex-direction: column;
	margin: 5rem 0 18rem;
	padding: 7rem 0;
	transform: skewY(-5deg);

	@include m.respond(tab-port) {
		transform: skewY(0);
		margin: 0 0 8rem;
		padding: 2rem 0;
	}

	&>* {
		transform: skewY(5deg);

		@include m.respond(tab-port) {
			transform: skewY(0);
		}
	}
}

.container-photo {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-bottom: 4rem;

	&__photo {
		border-radius: 100%;
		width: 30%;
	}

	&__presentation {
		color: v.$color-green-dark;
		font-size: 2rem;
		margin-top: 2rem;

		&--span {
			color: v.$color-tertiary-light;
			display: inline-block;
			transition: all .2s;

			&:hover,
			&:active {
				box-shadow: 0 1rem, 2rem rgba(v.$color-black, .4);
				color: v.$color-primary-light;
				cursor: pointer;
				transform: rotate(5deg) scale(1.1);
			}
		}
	}
}

.resume {
	display: grid;
	font-size: 1.7rem;
	gap: 3rem;
	grid-template-columns: 1fr 1fr;
	margin: 0 20rem;

	@include m.respond(tab-port) {
		margin: 0 6rem;
	}

	@include m.respond(phone) {
		grid-template-columns: 1fr;
		margin: 0 8rem;
	}
}

.skills {
	background-image: linear-gradient(to right bottom,
			rgba(v.$color-primary-light, 0.8),
			rgba(v.$color-primary-dark, 0.8));
	border-radius: 2rem;
	box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.6);
	padding: 2rem;
	transition: transform .3s ease-in-out;

	@include m.respond(tab-port) {
		background-image: linear-gradient(to right bottom,
				rgba(v.$color-primary-light, 0.8),
				rgba(v.$color-primary-darker, 0.8));
	}

	&:hover {
		background-image: linear-gradient(to right bottom,
				rgba(v.$color-primary-light, 0.8),
				rgba(v.$color-primary-darker, 0.8));
		transform: scale(1.03);
	}

	&__subtitle {
		border-bottom: 1px solid v.$color-tertiary-dark;
		color: v.$color-tertiary-dark;
		font-size: 2.5rem;
	}

	&__ul {
		list-style: none;

		&>li {
			margin: 0.8rem 0;
			color: v.$color-white
		}

	}
}

.hobbies {

	background-image: linear-gradient(0.25turn,
			rgba(v.$color-green-light, 0.8),
			rgba(v.$color-green-dark, 0.8));
	border-radius: 2rem;
	box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.6);
	padding: 2rem 2rem;
	transition: all .3s ease-in-out;

	&:hover {
		background-image: linear-gradient(0.25turn,
				rgba(v.$color-green-light, 0.8),
				rgba(v.$color-green-darker, 0.8));
		transform: scale(1.03);
	}

	&__subtitle {
		border-bottom: 1px solid v.$color-green-darker;
		color: v.$color-green-darker;
		font-size: 2.5rem;
	}

	&__paragraph {
		color: v.$color-white
	}
}