@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.content-book {
	display: flex;
	flex-direction: column;
	margin: 0 0 4rem;
	padding: 4rem 0;
	transform: skewY(-5deg);
	background-image: linear-gradient(to right bottom,
			rgba(v.$color-primary-light, 0.8),
			rgba(v.$color-primary-dark, 0.8));
	margin: 5rem 0 18rem;

	@include m.respond(tab-port) {
		transform: skewY(0);
	}

	&>* {
		transform: skewY(5deg);

		@include m.respond(tab-port) {
			transform: skewY(0);
		}
	}
}

// SEARCH
.search {
	display: flex;
	justify-content: center;
	margin: 5rem 0;

	&__input {
		background-color: rgb(58, 57, 110);
		border-radius: 20px;
		border: none;
		color: inherit;
		font-family: inherit;
		font-size: 1.7rem;
		margin-bottom: 3rem;
		padding: 1rem 1.5rem;
		text-transform: uppercase;
		transition: all .2s;
		width: 45%;

		&:focus,
		&:active {
			background-color: v.$color-grey-light-3;
			color: rgb(58, 57, 110);
			font-weight: 900;
			width: 50%;
			outline: none;
		}

		&::selection {
			background-color: rgb(58, 57, 110);
			color: v.$color-grey-light-3;
		}

		&::-webkit-input-placeholder {
			font-weight: 700;
			color: v.$color-grey-light-4;
		}
	}

	&__input:focus+&__button {
		background-color: v.$color-grey-light-3;
	}

	&__button {
		background-color: rgb(58, 57, 110);
		border: none;
		border-radius: 25%;
	}

	&__icon {
		fill: v.$color-grey-dark-3;
		height: 2rem;
		margin-bottom: 3rem;
		margin-left: -3.25rem;
		width: 2rem;
	}
}

.grid-cards {
	gap: 3rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 0 2rem;

	@include m.respond(tab-port) {
		grid-template-columns: repeat(3, 1fr);
		padding: 0 5rem;
	}

	@include m.respond(phone) {
		grid-template-columns: repeat(2, 1fr);
		padding: 0 1rem;
		gap: 1rem;
	}

}

.card {
	align-items: center;
	background-color: v.$color-grey-light-3;
	border-radius: 1rem;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
	display: flex;
	flex-direction: column;
	height: 45rem;
	justify-content: center;
	transition: all .2s;

	&:hover {
		background-color: v.$color-grey-light-4;
		transform: translateY(-2rem);
	}

	&:active {
		transform: translateY(-1rem);
	}

	&__img {
		border-radius: 8px;
		box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
		height: 40%;
		margin: 1rem 0;
		width: 50%;
	}

	&__title {
		color: v.$color-primary-darker;
		font-size: 1.7rem;
		height: 20%;
		margin: 0 1rem;
		padding: 0.5rem;
	}

	&__author {
		border-top: 1px solid v.$color-primary-darker;
		color: v.$color-secondary-dark;
		font-size: 1.5rem;
		height: 20%;
		margin: 1rem;
		padding: 1rem;
	}
}

.alert-danger {
	position: absolute;
	text-align: center;
	background-color: rgba(184, 35, 35, 0.893);
	border-radius: 20px;
	outline: none;
	font-size: 1.1rem;
	padding: 1rem 1.5rem;
	text-transform: uppercase;
	transition: all 1s ease-in-out;
	left: 30%;
	transform: translateY(-3rem);
	width: 40%;

	@include m.respond(phone) {
		width: 80%;
		left: 10%;
	}
}

.anchor {
	display: block;
	text-decoration: none;
}