@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.content-comic {
  align-items: center;
  background-image: linear-gradient(to right bottom,
      rgba(v.$color-primary-light, 0.8),
      rgba(v.$color-primary-dark, 0.8));
  display: flex;
  flex-direction: column;
  margin: 4rem 0 18rem;
  padding: 4rem 0;
  transform: skewY(-5deg);

  @include m.respond(tab-port) {
    transform: skewY(0);
    padding: 0;
  }

  &>* {
    transform: skewY(5deg);

    @include m.respond(tab-port) {
      transform: skewY(0);
    }
  }
}

.container-title {

  &__title {
    text-align: center;
    font-size: v.$default-font-size * 2.5;
    color: v.$color-primary-dark;
  }

  &__count {
    color: v.$color-secondary-light;
    font-size: v.$default-font-size * 1.7;
    margin-left: 1rem;
  }
}

.container-data {
  height: 42rem;
  overflow: scroll;

  &::-webkit-scrollbar {
    width: 0.4em;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: v.$color-white;
    border-radius: 1em;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: v.$color-primary-darker;
  }

  @include m.respond(phone) {
    height: 25rem;
  }

  &__subtitle {
    font-size: 2rem;
    color: v.$color-secondary-light;
    text-transform: uppercase;
  }

  &__img {
    @include m.respond(phone) {
      max-width: 95%;
      margin: 0 1.5rem;
    }
  }
}

.container-buttons {
  display: flex;
  flex-direction: column;
  // margin-top: 12rem ;

  &__btn {
    padding: 2rem 0;
    margin: 0 auto;

    &--minus {
      @include m.btn(30%, 0, 0, 30%);
      margin-right: 2rem;
    }

    &--random {
      @include m.btn(5%, 5%, 5%, 5%);
    }

    &--plus {
      @include m.btn(0, 30%, 30%, 0);
      margin-left: 2rem;
    }
  }

  &__link {
    color: v.$color-grey-dark-3;
    align-self: flex-end;
    font-size: v.$default-font-size;

    &--a {
      text-decoration: none;

      &:visited,
      &:link {
        color: v.$color-grey-dark-3;
      }

      &:hover {
        text-decoration: underline;
        color: v.$color-secondary-light;
      }
    }
  }
}

.inactive--minus {
  @include m.btn-inactive(30%, 0, 0, 30%);
  margin-right: 2rem;
}

.inactive--plus {
  @include m.btn-inactive(0, 30%, 30%, 0);
  margin-left: 2rem;
}