@import '../abstracts/variables';
@import '../abstracts/mixins';

.container-projects {
	background-image: linear-gradient(to right bottom,
			rgba($color-primary-light, 0.8),
			rgba($color-primary-dark, 0.8));
	margin: 5rem 0 18rem;
	transform: skewY(-5deg);

	@include respond(tab-port) {
		transform: skewY(0);
	}

	&>* {
		transform: skewY(5deg);

		@include respond(tab-port) {
			transform: skewY(0);
		}
	}
}

.projects {
	display: grid;
	gap: 3rem;
	grid-template-columns: repeat(3, 1fr);
	padding: 8rem;

	@include respond(tab-port) {
		grid-template-columns: repeat(2, 1fr);
	}

	@include respond(phone) {
		grid-template-columns: repeat(1, 1fr);
	}

	&__card {
		background-image: linear-gradient(to right,
				rgba($color-grey-light-1, 0.8),
				rgba($color-grey-dark-1, 0.8));
		border-radius: 1rem;
		box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
		padding: 2rem;
		position: relative;

		@include respond(phone) {
			margin: 0 auto;
			width: 80%;
		}

		&:hover {
			cursor: pointer;
			transform: scale(1.1);
			transition: transform 0.3s ease-in;
		}

		&--title {
			color: $color-white;
			font-size: $default-font-size;
			margin: 0 1rem;
			padding: 0.5rem;
			text-transform: uppercase;

			& span {
				font-size: 1rem;
				position: absolute;
				right: 5%;
				top: 2%;
				color: #bdaea0;
				font-weight: bolder;
			}
		}

		&--img {
			display: block;
			width: 30rem;
			margin: 0 auto;
			border-radius: 5px;
			margin-bottom: 2rem;

			@include respond(phone) {
				width: 20rem;
			}
		}

		&--technology,
		&--createTo {
			color: $color-white;
			font-size: 1.2rem;
			text-transform: uppercase;
			font-weight: 900;
			margin-top: 1.2rem;
			overflow-wrap: break-word;

			& span {
				font-weight: normal;
			}
		}
	}
}