---
import Layout from "../layout/Layout.astro";

import '../sass/pages/abouts.scss'

---

<Layout title="About" subtitle="about">

	<a class="anchor" href="../dogs/">
		<div class="tarjeta">		
			<img src="#" alt="">
			<h4>Titulo</h4>
			<p>Autor</p>
		</div>
	</a>

</Layout>
