---
import Layout from '../layouts/Layout.astro';

import '../pages/styles/Api-comics.css'

---

<Layout title="Api comics">
	<h1>Api comics</h1>

	<astro-count>
		<div class="container-comic">
			<p>Comic: <span></span></p>
			<div class="data-api">

			</div>			

			<div class="buttons">
				<button class="btn-less"><i class="fa-solid fa-circle-minus"></i></button>
				<button class="random">Random</button>
				<button class="btn-pluss" ><i class="fa-solid fa-circle-plus"></i></button>
			</div>

		</div>
	</astro-count>


</Layout>

<script is:inline src="../../src/pages/js/AstroCount.js">

</script>
