---
import Layout from '../layouts/Layout.astro';

import '../pages/styles/apiBooks.css'
---
<Layout title="Api books">

		<div>
			<h1>books</h1>
		</div>

		<div></div>
		
		<div class="container-form" id="search-form">			
				<div class="form">

					<astro-books>
						<form id="form-search" name="form" >
							<div class="form-control">
								
								<input type="text" name="search" id="search"/>
								<input type="submit" value="search" >
							</div>
						</form>
					</astro-books>

				</div>
		</div>
		
		<div class="grid-card" id="container-books">
		
		</div>

</Layout>

<script is:inline type="module" src="src/pages/ts/searchBooks.ts"></script>




