---
import Layout from "../layout/Layout.astro";
import "../sass/pages/apiBooks.scss";
---

<Layout title="Api books" subtitle="books" >
  <main>
    <section class="section-books">

			<astro-books>  <!-- !Class Astro -->
				
				<form id="form-search" name="form">
					<div class="search">
						<input autocomplete="off" type="text" name="search" id="search"class="search__input" placeholder="Search books" />
						<button class="search__button" >Search</button>
					</div>
				</form>

				<div class="grid-card" id="container-books"></div>
				</astro-books>
		
    </section>
  </main>

</Layout>

<script is:inline type="module" src="src/ts/apiBooks.ts"></script>
