---
import Layout from "../layout/Layout.astro";

import "../sass/pages/apiComics.scss";
---

<Layout title="Api comics" subtitle='Search comic'>

	<div class="content">
		<astro-comic>
			<div class="container-comic">
				<h4 class="container-comic__title u-margin-bottom-small">
					Comic
					<span class="container-comic__count"></span>
				</h4>

				<div class="container-data"></div>

				<div class="container-buttons">
					<div class="container-buttons__btn">
						<button
							disabled
							class="container-buttons__btn--minus inactive--minus"
							><i class="fa-solid fa-circle-minus"></i>
						</button>

						<button class="container-buttons__btn--random">Random</button>

						<button class="container-buttons__btn--plus"
							><i class="fa-solid fa-circle-plus"></i>
						</button>
					</div><!-- !container-buttons__btn -->

					<p class="container-buttons__link">
						Comics from:
						<i
							><a
								class="container-buttons__link--a"
								target="_blank"
								href="https://xkcd.com/">https://xkcd.com/</a
							>
						</i>
					</p>
				</div><!-- !container-buttons -->
			</div><!-- !container-comic -->
		</astro-comic>
	</div><!-- !content -->
</Layout>

<script is:inline type="module" src="src/ts/apiComic"></script>
