---
import Layout from '../layout/Layout.astro';
---

<Layout title="Api comics">
	<h1>Search a comic</h1>

	<div>
		<p>On this page you will find comics from page: 
			<i><a target="_blank" href="https://xkcd.com/">https://xkcd.com/</a></i>
		</p>

	</div>

	<astro-apicomic>
		<div class="padre">

			<div class="container-comic">
				<h4>Comic<p><span>click on the buttons to search</span></p></h4>
				<div class="data-api">
			</div>

			</div>			

			<div class="buttons">
				<button class="dissabled"><i class="fa-solid fa-circle-minus"></i></button>
				<button class="random">Random</button>
				<button class="btn-pluss" ><i class="fa-solid fa-circle-plus"></i></button>
			</div>

		</div>
	</astro-apicomic>


</Layout>

<script is:inline type="module" src="src/ts/AstroApiComic.ts">
import { AstroApiComic } from "./ts/apiComic";


</script>
