---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Contact">
	<astro-probe>
		<h1 id="weare">Contact Us</h1>		
		<button class="btn-pluss" >Prube</button>
	</astro-probe>

</Layout>

<script is:inline type="module" src="src/pages/ts/contact.ts" >
	
</script>
