---
import Layout from "../layout/Layout.astro";
import Project from "../components/Project.astro";
import "../sass/pages/projects.scss";

import { projects } from "../../public/js/projects";
---

<Layout title="Projects" subtitle="projects">
  <div class="container-projects">
		<div class="projects">      
      {projects.map((project) => <Project project={project} />)}
    </div>
  </div>
</Layout>