.container-comic{
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.data-api{
	max-height: 90rem;
}

.img{
	max-height: 80rem;
	max-width: 30rem;
	transition: all 0.5s ease-in-out;
}

.img:hover{
	transform: scale(1.05);
	transition: all 0.5s ease-in-out;
}

.buttons{
	display: flex;
	flex-direction: row;
	gap: 2rem;
	background-color: transparent;
	flex-wrap: nowrap;
	margin-bottom: 3rem;
}

button{	
	cursor: pointer;
	background-color: transparent;
	color:  whitesmoke;
	font-weight: 600;
	font-size: 1.3rem;
	box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
	border-radius: 1.5rem;
	font-family: Montserrat;
}

button:hover{	
	background-color: whitesmoke;
	color:   #3B3486;
}

button:active{
	box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
	0 0  0 -1rem rgb(255,255,255);
	transform: scale(0.95);
}

@media (max-width: 576px) {
	.img{
		max-width: 20rem;
	}
}





