@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.btn {

	&,
	&:link,
	&:visited {
		text-transform: uppercase;
		letter-spacing: 1rem;
		text-decoration: none;
		padding: 1.5rem 4rem;
		display: inline-block;
		border-radius: 10rem;
		transition: all .1s ease-in-out;
		position: relative;
		font-size: v.$default-font-size;
		border: none;
	}

	&:hover {
		transform: translateY(-.3rem);
		box-shadow: 0 1rem 2rem rgba(v.$color-black, .2);

		&::after {
			transform: scaleX(1.4) scaleY(1.6);
			opacity: 0;
		}
	}

	&:active,
	&:focus {
		outline: none;
		transform: translateY(-.1rem);
		box-shadow: 0 0.5rem 1rem rgba(v.$color-black, .2);
	}

	&--white {
		background-color: v.$color-white;
		color: v.$color-grey-dark-1;

		&::after {
			background-color: v.$color-white;
		}
	}

	&--green {
		background-color: v.$color-primary;
		color: v.$color-white;

		&::after {
			background-color: v.$color-primary;
		}
	}

	&::after {
		content: "";
		height: 100%;
		width: 100%;
		border-radius: 10rem;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all .4s;
	}

	&--animated {
		animation: moveInBottom .5s ease-out 0.75s;
		animation-fill-mode: backwards;
	}
}

.btn-text {

	&:link,
	&:visited {
		font-size: v.$default-font-size;
		color: v.$color-primary;
		text-decoration: none;
		border-bottom: 1px solid v.$color-primary;
		padding: 3px;
		transition: all .2s;
		padding: 0.8rem;
	}

	&:hover {
		background-color: v.$color-primary;
		color: v.$color-white;
		box-shadow: 0 1rem 2rem rgba(v.$color-black, .15);
		transform: translateY(-2px);
		border-radius: .5rem;
	}

	&:active {
		box-shadow: 0 .5rem 1rem rgba(v.$color-black, .15);
		transform: translateY(0);
	}
}

@keyframes anim-shadow {
	100% {
		box-shadow: 0 0 50px rgba(112, 111, 211, 0);
	}
}