@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.modal-project {
	background-color: rgb(v.$color-primary-dark, 0.7);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 5;
}

.modal-content {
	background-color: v.$color-grey-light-2;
	display: flex;
	flex-direction: column;
	top: 50%;
	left: 50%;
	position: absolute;
	right: auto;
	bottom: auto;
	transform: translate(-50%, -50%);
	box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.8);
	padding: 2rem;
	border-radius: 1.5rem;
}

.modal-video {
	&__video {
		width: 850px;
		height: 350px;
		border-radius: 1.5rem;

		@include m.respond(tab-port) {
			width: 500px;
			height: 300px;
		}

		@include m.respond(phone) {
			width: 28rem;
			height: 20rem;
		}
	}
}

.modal-text {
	
	&__name {
		color: v.$color-primary-darker;
		font-size: v.$default-font-size + .4rem;
		text-transform: uppercase;
		font-weight: 900;
		margin-bottom: 1rem;

		@include m.respond(phone) {
			font-size: 1rem;
		}

	}

	&__technology, &__desc, &__course, &__made {
		color: v.$color-primary-darker;
		font-size: v.$default-font-size;
		@include m.respond(phone) {
			font-size: 1.2rem;
			height: 40%;
		}
	}

	&__made{

		@include m.respond(tab-port) {
			font-size: v.$default-font-size + .5rem;
		}

		@include m.respond(phone) {
			font-size: 1.2rem;
		}
	}
	& span {
		font-weight: 900;
	}
}