@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.container{
	background-color: v.$color-grey-light-1;
	box-shadow: v.$shadow-dark;

	@include m.respond(tab-port) {
		box-shadow: none;
	}
}