@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';

.container{
	background-color: $color-grey-dark;
	box-shadow: $shadow-dark;

	@include respond(tab-port) {
		box-shadow: none;
	}
}