@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';

.footer {
	background-color: $color-grey-dark-1;
	font-size: 1.4rem;
	color: $color-grey-light-1;

	@include respond(tab-port) {
		padding: 8rem 0;
	}

	&__logo-box {
		text-align: center;
		margin-bottom: 2rem;

		@include respond(tab-port) {
			margin-bottom: 6rem;
			padding: 0 3rem;
		}
	}

	&__logo {
		height: 22rem;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 2rem;
		margin: 0 3rem;
		gap: 3rem;

		@include respond(tab-port) {
			flex-direction: column;
			margin: 0;
			padding: 2rem;
		}
		&__col-2 {
			width: 55%;
			@include respond(tab-port) {
				width: 100%;
			}
		}

	}

	&__navigation {
		border-top: 1px solid $color-grey-dark;
		padding-top: 2rem;
		// width: 100%;

		@include respond(tab-port) {
			width: 100%;
			text-align: center;
		}
	}
	
	&__list {
		list-style: none;
		text-decoration: none;

		@include respond(phone) {
			display: flex;
			flex-direction: column;

		}

		@include respond(phone) {
			align-items: flex-end;
		}
	}

	&__item {	
		display: inline-block;

		&:not(:last-child) {
			margin-right: 1.5rem;

			@include respond(phone) {
				margin-right: 0;
				margin-bottom: 0.5rem;
			}
		}
	}

	&__link {
		
		&:link,
		&:visited {
			color: $color-grey-light-1;
			background-color: $color-grey-dark-1;
			text-decoration: none;
			text-transform: uppercase;
			display: inline-block;
			transition: all .2s;
		}

		&:hover,
		&:active {
			color: $color-primary-light;
			box-shadow: 0 1rem, 2rem rgba($color-black, .4);
			transform: rotate(5deg) scale(1.3);
		}
	}
	&__copyright {
		border-top: 1px solid $color-grey-dark;
		padding-top: 2rem;

		@include respond(tab-port) {
			width: 100%;
		}
	}
}

.contain-astro {
	margin: 0 2rem;
	padding: 1rem ;
	

	&__logo {
		display: block;
		width: 5%;
		border-radius: 5px;
	}
	& > p {
		font-size:1.5rem;
		text-transform: uppercase;
		background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
		letter-spacing: 0.4rem;
	}
}


