@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.header {
	display: flex;
	flex-direction: column;
	height: 95vh;
	background-image:
		linear-gradient(to right bottom,
			rgba(v.$color-primary-light, 0.8),
			rgba(v.$color-primary-dark, 0.8)),
		url('/assets/2248.jpg');
	background-size: cover;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	background-position: top;
	border-top-left-radius: 10px;
  border-top-right-radius: 10px;

	@include m.respond(tab-port) {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
	}
	@include m.respond(phone) {
		background-image:
		linear-gradient(to right bottom,
			rgba(v.$color-primary-light, 0.8),
			rgba(v.$color-primary-dark, 0.8)),
		url('/assets/2249.jpg');
	}

	&__logo-box {
		margin-top: 2rem;
		margin-left: 2rem;
	}

	&__logo {
		height: 9rem;
	}

	&__text-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 20rem auto;
		transform: translate(0, -50%);
	}
}

.subtitle {
	text-align: center;
}