body {
	background-color: #3B3486;
	min-height: 90vh;
	padding-bottom: 8em;
	position: relative;
}

h1, h4 {
	color: whitesmoke;
	font-family: Montserrat;
	text-align: center;
	text-transform: uppercase;
}

p {
	color: whitesmoke;
	font-family: Montserrat;
}

.container{
	margin: 0 2.5rem ;
	width: 90%;
	display: flex;
	flex-direction: column;
}

@media (max-width: 768px) {
	.header{
		margin-top: 3.8rem;
	}
}


